




$spookyBlue: #0c234f;
$chillBlue: #226077;
$highlight: #e6a200;
$greenBlue: #54d8a7;
$pale: #addfba;




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $spookyBlue;
  color: $highlight;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($spookyBlue, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($spookyBlue, 75);
    border-bottom: 1px solid #eee;
    color: $greenBlue;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}